{% extends "./base.html" %} {% block title %} Edición de cursos {% endblock %}
{% block body %}

<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2>Edición de Curso</h2>
    <div class="card">
      <div class="card-body">
        <form action="/editarCurso/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="txtCodigo"> Código </label>
            <input
              value="{{curso.codigo}}"
              readonly
              type="text"
              name="txtCodigo"
              id="txtCodigo"
              class="form-control"
              placeholder="Código"
              minlength="6"
              maxlength="6"
              required
            />
          </div>
          <div class="form-group">
            <label for="txtNombre"> Nombre </label>
            <input
              value="{{curso.nombre}}"
              type="text"
              name="txtNombre"
              id="txtNombre"
              class="form-control"
              placeholder="Nombre"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group">
            <label for="numCreditos"> Crédito </label>
            <input
              value="{{curso.creditos}}"
              type="number"
              name="numCreditos"
              id="numCreditos"
              class="form-control"
              min="1"
              max="9"
              value="1"
              required
            />
          </div>
          <div class="form-group my-3">
            <button type="submit" class="btn btn-success w-100 text-white">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
