{% extends "./base.html" %} {% block title %} Gestión de cursos {% endblock %}
{% block body %}

<div class="row">
  <!-- <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4"> -->
  <div class="col-md-4">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <strong class="text-dark">{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor%} {% endif %}
    <h2>Gestión de curso</h2>

    <div class="card">
      <div class="card-body">
        <form action="/registrarCurso/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="txtCodigo"> Código </label>
            <input
              type="text"
              name="txtCodigo"
              id="txtCodigo"
              class="form-control"
              placeholder="Código"
              minlength="6"
              maxlength="6"
              required
            />
          </div>
          <div class="form-group">
            <label for="txtNombre"> Nombre </label>
            <input
              type="text"
              name="txtNombre"
              id="txtNombre"
              class="form-control"
              placeholder="Nombre"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group">
            <label for="numCreditos"> Crédito </label>
            <input
              type="number"
              name="numCreditos"
              id="numCreditos"
              class="form-control"
              min="1"
              max="9"
              value="1"
              required
            />
          </div>
          <div class="form-group my-3">
            <button type="submit" class="btn btn-success w-100 text-white">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8"> -->
  <div class="col-md-8">
    <h1>Listado de cursos</h1>
    <div class="table-responsive py-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Créditos</th>
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for c in cursos %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ c.codigo }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.creditos }}</td>
            <td>
              <a href="edicionCurso/{{ c.codigo }}" class="btn btn-info"
                >Editar</a
              >
            </td>
            <td>
              <a
                href="eliminarCurso/{{ c.codigo }}"
                class="btn btn-danger btnEliminacion"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
